form {
    margin: 10%;

}

input[type=text] {
    border: 1px solid black;
    border-radius: 1px;
    width: 50%;
    padding: 5px;
  }

  button {
    background-color: gray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    
  }

  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }